.etiqueta_container{
    width: 60%;
    margin: 0 auto;
    /* display: flex;
    justify-content: center; */
}
.form-container{
    display: grid;
    justify-content: center;
    color:#aaa;
    margin-bottom: 1rem;
}

.form-container::before{
    content: ‘’;
    width: 300px;
    height: 400px;
    background: inherit; 
    position: absolute;
    left: -25px;
    right: 0;
    top: -25px;
    bottom: 0;
    box-shadow: inset 0 0 0 200px rgba(255,255,255,0.3);
    filter: blur(10px);
}

.form{
    width: 20rem;
    display: flex;
    flex-direction: column;
}
.input-group{
    width: 100%;
    display: grid;
    margin-bottom: 1rem;
}
.label__item{
 margin-bottom: 0.5rem;   
}
.input__item{
    border: none;
    outline: none;
    border-bottom: solid 1px #aaaa;
    padding: 0 0.5rem;
}

.add-button{
    width: 5rem;
    height: 5rem;
    margin: 0.5rem;
    border: solid 1px #aaa;
}
.add-button:hover{
    cursor: pointer;
    box-shadow:1px 1px 10px 0px #aaa
}
.seccion-container{
    margin-top: 0.5rem;
    border: dashed 1px #aaaa;
    min-height: 1rem;
    min-width: 20rem;
}
.is-invalid{
    color: #F14D36;
    border-bottom: solid 1px #F14D36;
}

.info__container{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col__del{
    display: flex;
    justify-content: center;
}

.img__cancel{
    background-image: url(src/assets/media/icons/cancel.svg);
    background-repeat: no-repeat;
    background-origin: border-box;
    width: 1.3rem;
    height: 1.3rem;
    background-color: transparent;
    border-radius: 50%;
    outline: none;
}

.img__cancel:hover{
    cursor: pointer;
    transform: scale(1.1);
}