<app-menu-administrar></app-menu-administrar>
<div class="etiqueta_container">
<!--     <app-back-button [ruta]="'administrar'">
    </app-back-button> -->
    <div class="info__container">
        <div class="form-container">
            <form   action=""
                    class="form" 
                    autocomplete="off"
                    [formGroup]="formTags"
                    (ngSubmit)="saveTag( f )"
                    #f="ngForm">
                <div class="input-group">
                    <label for="descEtiqueta" class="label__item">
                            Descripcion
                    </label>
                    <input  type="text"
                            name="desc"
                            placeholder="Viajes, Bizkaia..."
                            class="input__item"
                            formControlName="desc"
                            [class.is-invalid]="descValid">
                            <small *ngIf="descValid" class="text-danger">
                                * Ingrese al menos 5 letras
                            </small>
                </div>
                <button style="width: 10rem; align-self: center">Guardar</button>
            </form>
        </div>
        <table class="table mt-3 animated fadeIn faster">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Eliminar</th>
            </tr>
            <tr *ngFor="let tag of etiquetas; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ tag.desc }}</td>
                <td class="col__del">
                    <button class="img__cancel"
                            (click)="deleteTag(tag)"></button>
                </td>
            </tr>
        </table>
    </div>
</div>