.form{
    width: 20rem;
}
.form-secciones{
    border: dashed 1px lightblue;
    padding: 0.5rem;
    margin-bottom: 1rem;
}
.input-group{
    display: grid;
    margin-bottom: 1rem;
}
.label__item{
 margin-bottom: 0.5rem;   
}
.input__textSeccion{
    resize: none;
    border: solid 1px #aaaa;
}
.buttons-container{
    display: flex;
    justify-content: space-evenly;
}
.secciones__container{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}
.btn__addSeccion{
    position: relative;
    justify-self: center;
    background-image: url(src/assets/media/icons/upload.svg);
}
.header-container{
    width: 100%;
    min-height: 3rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    border: dashed 1px #aaaa;
    /*padding: 0.5rem;*/
    overflow: hidden;
}
.header-img{
    width: 100%;
    opacity: 0.5;
}
.header-img:hover{
    transform: rotate(-5deg);
}
.img_visual{
    position: relative;
    display: grid;
    justify-content: stretch;
}
.btn__add{
    width: 2rem;
    height: 2rem;
    background-image: url(src/assets/media/icons/camara.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    background-color: transparent;
}
.btn__add-imageHeader{
    position: absolute;
    opacity: 0.5;
    z-index: 999;
}
.btn__add-imageHeader:hover{
    opacity: 1;
    transform: scale(1.1);
}