<div class="home-container">
    <div class="main-container">
        <div class="icon-container" [routerLink]="['/administrar/etiquetas']">
            <img src="assets/media/icons/etiqueta.svg" 
            alt="Camperizar"
            class="">
            <span class="icon-text">ETIQUETAS</span>
        </div>
        <div class="icon-container" [routerLink]="['/administrar/entradas']">
            <img src="assets/media/icons/entradas.svg" 
            alt="Blog"
            class="">
            <span class="icon-text">ENTRADAS</span>
        </div>
        <div class="icon-container" [routerLink]="['/administrar/catalogo']">
            <img src="assets/media/icons/catalogo.svg" 
            alt="Blog"
            class="">
            <span class="icon-text">CATALOGO</span>
        </div>
        <div class="icon-container" [routerLink]="['/administrar/usuarios']">
            <img src="assets/media/icons/users.svg" 
            alt="Blog"
            class="">
            <span class="icon-text">USUARIOS</span>
        </div>
        <div class="icon-container" [routerLink]="['/administrar/camperizacion']">
            <img src="assets/media/icons/van.svg" 
            alt="Blog"
            class="">
            <span class="icon-text">CAMPERIZACIÓN</span>
        </div>
    </div>    
</div>