<!-- <app-back-button
    [ruta]="'administrar'">
</app-back-button> -->
<div class="post__container">
    <div class="info__container">
        <button [hidden]="!hiddenForm"
                (click)="openFormNewPost()"
                class="btn__addNewPost">
            Nevo
        </button>
        
        <app-tabla-post (showFormPost)="openFormPost($event)">
        </app-tabla-post>
    </div>
    
    <app-new-post-form  [entrada]="post"
                        *ngIf="!hiddenForm"
                        (resetPost)="onHiddenForm($event)">
    </app-new-post-form>
</div>