<div class="info__container">
    <div class="icons__info">
        <a href="">
            <img src="assets/media/icons/coments.svg" alt="Comentarios" class="comments__icon">
        </a>
        <span> {{ post.nComents }} </span>
    </div>
    <div class="icons__info">
        <img src="assets/media/icons/view.svg" alt="Comentarios" class="comments__icon">
        <span> {{ post.views }} </span>
    </div>
    <div class="icons__info">
        <span class="time__ago"> {{ post.timeFrom }}</span>
    </div>
</div>