.info__container{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.icons__info{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.8rem;
    margin-right: 0.4rem;
}
.comments__icon{
    width: 1.2rem;
}
.time__ago{
    font-style: italic;
}
.time__ago::first-letter{
    text-transform: uppercase;
}