.blog__container{
    margin: 0 auto;
    width: 60%;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
}

.container__miniature{
    display: flex;
    justify-content: center;
    margin: 1rem;
    border-bottom: solid 1px #aaaa;
    padding-bottom: 0.5rem;
}

.container__posts{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-evenly;
}

.container_most-recent{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.most__recent-list{
    list-style: none;
    border-top: solid 1px #aaa;
    border-bottom: solid 1px #aaa;
    padding: 0.5rem 0;
}

.most-recent-title{
    text-align: center;
    margin: 0;
}

.aside{
    width: 30%;
}

@media screen and (max-width: 768px){
    .blog__container{
        width: 100%;
    }
    .aside{
        width: 100%;
    }
    .container__posts{
        width: 100%;
    }
    .container__miniature{
        margin: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 820px){
    .blog__container{
        width: 90%;
    }
}